php:
    date.timezone: Europe/Prague

application:
	scanDirs: false

extensions:
    dateFilterExtension: h4kuna\DateFilter\DI\DateFilterExtension

dateFilterExtension:
	dayMonth:
		cs: # name of group is optional (i choose language)
			# days:
			l: # l - lower L long
				Monday: Pondělí

			D: # D - short
				Mon: Po
				Tue: Út
				Wed: St
				Thu: Čt
				Fri: Pá
				Sat: So
				Sun: Ne

			# months:
			F: # F - long
				January: Leden

			M: # M - short
				Jan: Led
				Feb: Úno
				Mar: Bře
				Apr: Dub
				May: Kvě
				Jun: Čvn
				Jul: Čvc
				Aug: Srp
				Sep: Zář
				Oct: Říj
				Nov: Lis
				Dec: Pro
		en: []

	formats:
		cze: # name of group is optional (i choose country)
			all: l D F M \l \D \F \M
			day: D
			date: j. n. Y
			dateTime: j. n. Y H:i:s
			dateMinute: j. n. Y H:i
			dayMonth: j. n.
			dayMinute: j. n. H:i
		uk:
			all: l D F M
			day: D
			date: d/m/Y
			dateTime: d/m/Y H:i:s
			dateMinute: d/m/Y H:i
			dayMonth: d/m
			dayMinute: d/m H:i